*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #03172C;
	display: grid;
	place-items: center;
	height: 100vh;
}
main{
	display: grid;
	grid-template-areas:
	'a a b'
	'c d d'
	'c e e' 
	;
	gap: 5px;
	margin: auto;
	width: 50%;
} 
main div{
	padding: 3em;
	/*text-align: center;*/
}
.box_a{
	background-color: #FC3305;
	grid-area: a;
}
.box_b{
	background-color: #FAA604;
	grid-area: b;
}
.box_c{
	background-color: #57D157;
	grid-area: c;
}
.box_d{
	background-color: #66C0DD;
	grid-area: d;
}
.box_e{
	background-color: #66C0DD;
	grid-area: e;
}